<mat-sidenav-container class="layout-container">

    <!-- Sidebar -->
    <mat-sidenav #sidenav class="sidebar" mode="side" [opened]="isExpanded">
        <app-sidebar [isExpanded]="isExpanded">
        </app-sidebar>
    </mat-sidenav>

    <!-- Main Content Area -->
    <mat-sidenav-content>

        <app-header (toggle)="toggleSidebar()">
        </app-header>

        <div class="content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

    </mat-sidenav-content>

</mat-sidenav-container>