<mat-card class="kanban-column">

  <div class="column-header">
    <div class="header-left">
      <span class="title">{{ column.title }}</span>
      <span class="task-count">
        {{ column.tasks.length }}
      </span>
    </div>

    <button mat-icon-button class="menu-btn">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <div class="column-body" cdkDropList [id]="'cdk-drop-' + column.id" [cdkDropListData]="column.tasks"
    [cdkDropListConnectedTo]="connectedDropLists" (cdkDropListDropped)="onDrop($event)">

    <div *ngIf="column.tasks.length === 0" class="empty-state">
      Drop tasks here
    </div>

    <app-kanban-card *ngFor="let task of column.tasks" [task]="task" cdkDrag>
    </app-kanban-card>

  </div>

</mat-card>