<!-- <div class="kanban-column">

  <div class="column-header">
    <h3>{{ column.title }}</h3>
    <span class="count">{{ column.tasks.length }}</span>
  </div>

  <div
    class="column-body"
    cdkDropList
    [cdkDropListData]="column.tasks"
    (cdkDropListDropped)="onDrop($event)"
  >

    <app-kanban-card
      *ngFor="let task of column.tasks"
      [task]="task"
      cdkDrag>
    </app-kanban-card>

  </div>

</div> -->


<mat-card class="kanban-column mat-elevation-z2">

  <div class="column-header">
    <div class="title">
      {{ column.title }}
    </div>

    <span class="task-count">
      {{ column.tasks.length }}
    </span>
  </div>

  <div
    class="column-body"
    cdkDropList
    [id]="'cdk-drop-' + column.id"
    [cdkDropListData]="column.tasks"
    [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="onDrop($event)"
  >

    <app-kanban-card
      *ngFor="let task of column.tasks"
      [task]="task"
      cdkDrag>
    </app-kanban-card>

  </div>

</mat-card>