.pagination-wrapper {
    padding: 16px;
}

.pagination-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-radius: 14px;
    background: #ffffff;
    box-sizing: border-box;
    width: 100%;
}

.nav-section,
.control-section {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.page-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    gap: 6px;
}

.current-page,
.total-pages {
    font-weight: 600;
    color: #555;
}

.divider {
    color: #aaa;
}
.control-section{
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    
}

.size-field,
.goto-field {
    width: 65px;
}
