<mat-card class="pagination-card" *ngIf="totalCount > 0">

    <div class="pagination-wrapper">

        <div class="pagination-left">
            <button mat-stroked-button (click)="prev()" [disabled]="paginationService.pageNumber === 1">
                Previous
            </button>

            <span class="page-info">
                Page {{ paginationService.pageNumber }} of {{ totalPages }}
            </span>

            <button mat-stroked-button (click)="next()" [disabled]="paginationService.pageNumber === totalPages">
                Next
            </button>
        </div>

        <div class="pagination-right">

            <mat-form-field appearance="outline" class="page-size-field">
                <mat-label>Page Size</mat-label>
                <mat-select [value]="paginationService.pageSize" (selectionChange)="changePageSize($event.value)">
                    <mat-option *ngFor="let size of [5,10,20,50,100]" [value]="size">
                        {{ size }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="goto-field">
                <mat-label>Go to</mat-label>
                <input matInput #gotoInput type="number" min="1" [max]="totalPages"
                    (keyup.enter)="goToPage(+gotoInput.value)">
            </mat-form-field>

            <button mat-flat-button color="primary" (click)="goToPage(+gotoInput.value)">
                Go
            </button>

        </div>

    </div>

</mat-card>