<div class="sidebar">

  <div class="logo-section">
    <img *ngIf="isExpanded" src="assets/logo.png" class="logo" alt="Company Logo" />
    <span *ngIf="!isExpanded" class="logo-mini">
      ZH
    </span>
  </div>

<nav class="nav-list">

  <a [routerLink]="['/users']"
     routerLinkActive="active"
     class="nav-item">

    <span class="icon">👥</span>
    <span *ngIf="isExpanded" class="label">Users</span>
  </a>

  <a [routerLink]="['/roles']"
     routerLinkActive="active"
     class="nav-item">

    <span class="icon">🛡</span>
    <span *ngIf="isExpanded" class="label">Roles</span>
  </a>

</nav>

</div>