<div class="sidebar">

    <div class="logo-section">
        <img *ngIf="isExpanded" src="assets/logo.png" class="logo" alt="Company Logo" />
        <span *ngIf="!isExpanded" class="logo-mini">
            ZH
        </span>
    </div>

    <nav class="nav-list">

        <a (click)="go('/users')" class="nav-item">

            <span class="icon">👥</span>
            <span *ngIf="isExpanded" class="label">Users</span>
        </a>

        <a (click)="go('/roles')" class="nav-item">

            <span class="icon">🛡</span>
            <span *ngIf="isExpanded" class="label">Roles</span>
        </a>

    </nav>

</div>